/*
Component: Core button
*/

.Button {
  text-align: center;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  border-radius: 4px;
  box-sizing: border-box;
  outline: 0;
}


/**
 * Component Core: Group Button Style
 */

.Button-group {
  font-size: 0; // fixes whitespace issue between buttons
}

.Button-group > .Button--primary:first-of-type {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

.Button-group > .Button--primary:last-of-type {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

/**
 * Component Core: Link Button Style
 */

.Button-link {
  background: transparent;
  border-color: transparent;
  color: #4A8CFF;
}

/**
 * Component Modifier: Primary Button Style
 */


.Button--primary {
  background: #4A8CFF;
  border: none;
  color: #ffffff;
}

/**
 * Component Modifier: Secondary Button Style
 */

.Button--secondary {
  background: #F2F6F9;
  border: 1px solid $color-grey;
  color: #4F5766;
}


/**
 * Component Modifier: UI Button Style
 */

.Button--positive {
  background: #13CE66;
  color: #FFFFFF;
}

.Button--negative {
  background: #FF4949;
  color: #FFFFFF;
}

/**
 * Component Modifier: Ghost Button Style
 */

.Button--ghost {
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}

/**
 * Component Modifier: Round Button Style
 */

.Button--round {
  border-radius: 39px !important;
}


/**
 * Component Modifier: Theme Button Style
 */

.Button--theme-blue {
  background: #FFFFFF;
  border: solid 1px #FFFFFF;
  color: $color-ain-bright;
  font-weight: $font-weight-medium;
}


/**
 * Component Modifier: FAB Button Style
 */

.Button--floating {
  line-height: 55.5px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
  width: 55.5px;
  height: 55.5px;
  border-radius: 50%;
}

.Button--floating i {
  font-size: 1.4rem !important;
  color: #fff;
  line-height: 62px;

}

/**
 * Component State: Primary Button Style
 */

.Button--primary:hover,
.Button--primary:focus,
.Button--primary:active,
.Button--primary.is-pressed {
  background: #3B7CEE;

}

/**
 * Component State: Secondary Button Style
 */

.Button--secondary:hover,
.Button--secondary:focus,
.Button--secondary:active,
.Button--secondary.is-pressed {
  background: #EEF3F7;
  border: 1px solid #9CABB9;
  color: #253142;

}

/**
 * Component State: Ghost Button Style
 */

.Button--ghost:hover,
.Button--ghost:focus,
.Button--ghost:active,
.Button--ghost.is-pressed {
  background: rgba(255,255,255,0.10);
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
}


/**
 * Component State: UI Button Styles
 */

.Button--positive:hover,
.Button--positive:focus,
.Button--positive:active,
.Button--positive.is-pressed {
  background: #17BF62;

}

.Button--negative:hover,
.Button--negative:focus,
.Button--negative:active,
.Button--negative.is-pressed {
  background: #F04444;

}

/**
 * Component State: Theme Button Style
 */

.Button--theme-blue:hover,
.Button--theme-blue:focus,
.Button--theme-blue:active,
.Button--theme-blue.is-pressed {
  background: $color-ain-bright;
  border: solid 1px #FFFFFF;
  color: #FFFFFF;

}


/**
 * Component State: Disabled Button
 */

.Button.is-disabled {
  background-color: #F2F6F9;
  box-shadow: inset 0 0 0 1px #e0e6ed;
  color: #D8E2EC;
  pointer-events: none;
  cursor: default;
}

/**
 * Component Modifier: Button Sizes
 */

.Button--l {
  font-size: 16px;
  padding: 0px 70px;
  height: 50px;
}

.Button--m {
  font-size: 14px;
  padding: 0px 30px;
  height: 40px;
  min-width: 120px;
}

.Button--s {
  font-size: 12px;
  padding: 0px 22px;
  height: 30px;
}


/**
 * Component Modifier: Icon Sizes
 */

.Icon--s {
  height: 30px;
  width: 30px;
}

.Icon--m {
  height: 40px;
  width: 40px;
}

.Icon--l {
  height: 50px;
  width: 50px;
}

.Icon:focus,
.Icon:active,
.Icon.is-pressed {
  background: rgba(74,140,255,0.10);
  border: 1px solid #4A8CFF;
}

/* Rules for colour of the icon when pressed. */
.Icon:focus i,
.Icon:active i,
.Icon.is-pressed i {
  color: #4A8CFF;
}

/* Material Design icons */
.material-icons {
  vertical-align: middle;
  position: relative;
  top: -3px;
  left: 0px;
}

/* Rules for sizing the icon. */
.material-icons.md-14 { font-size: 14px; }
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
