/*
Component: Core Form Input
*/

.Input, input[type="text"],
input[type="password"] {
  width: 100%;
  border-radius: $radius-default;
  padding: 0 15px;
  box-sizing: border-box;
  box-shadow: inset 0 0 0 1px #e0e6ed;
  outline-style: none;
  vertical-align: middle;
  -webkit-transition-property: all;
  transition-property: all;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-width: 0;
  -webkit-transition-duration: 80ms;
  transition-duration: 80ms;
  letter-spacing: 0px;
  line-height: 16px;

}

input[type="password"] {
  -webkit-text-security: disc;

}

/**
 * Component Modifier: Default Theme
 */

 //.Input--default {}

.Input--default::-webkit-input-placeholder {
  color: #B4C3D3;
}

.Input--default::-moz-placeholder {  /* Firefox 19+ */
  color: #B4C3D3;
}

.Input--default:-ms-input-placeholder {
  color: #B4C3D3;
}

input[type="text"].Input--default:hover,
input[type="password"].Input--default:hover,
input[type="search"].Input--default:hover {
	box-shadow: inset 0 0 0 1px #c0ccda;
}

input[type="text"].Input--default:focus,
input[type="password"].Input--default:focus,
input[type="search"].Input--default:focus {
  box-shadow: inset 0 0 0 1px #4a8cff;
}

/**
 * Component Modifier: Input Sizes
 */

.Input--l {
	font-size: $font-size-small;
	height: 50px;
}

.Input--m {
	font-size: $font-size-smaller;
	height: 40px;
}

.Input--s {
	font-size: $font-size-smaller;
	height: 30px;
}

/**
 * Component Modifier: Ghost Theme
 */



 /**
  * Component Modifier: Input hints
  */

.Input.has-danger {
   border: solid 1px $color-negative;
}

.Input.has-success {
  border: solid 1px $color-positive;
}

.Input-hint--danger {
  color: $color-negative;
}

.Input-hint--success {
  color: $color-positive;
}
