<div class="u-container-white-border u-marginBottom-s">
    <div class="u-padding-l">
            <label class="Form-label"for="textInput">Email Address</label>
            <input class="Input Input--default Input--l" type="text" placeholder="Email address" id="textInput" />
        <div class="u-marginTop-s">
            <label class="Form-label" for="textInput">Password</label>
            <input class="Input Input--default Input--m" type="password" placeholder="Password" id="textInput" />
        </div>
        <div class="u-marginTop-s">
            <label class="Form-label" for="textInput">First name</label>
            <input class="Input Input--default Input--s" type="text" placeholder="First Name" id="textInput" />
        </div>
    </div><!-- /.u-padding-l -->
</div>
