<div class="u-container-white-border u-marginBottom-s">
    <div class="u-padding-l">
        <div class="Input-group Input-group--l">
            <span class="Input-group__addon">$</span>
            <input class="Input Input--default Input--l" type="text" placeholder="Enter Amount" id="textInput" />
        </div>
        <div class="u-marginTop-m">
            <div class="Input-group Input-group--m">
                <span class="Input-group__addon">http://</span>
                <input class="Input Input--default Input--m" type="text" placeholder="Enter URL" id="textInput" />
            </div>
        </div>
        <div class="u-marginTop-m">
            <div class="Input-group Input-group--m">
                <span class="Input-group__addon">1</span>
                <input class="Input Input--default Input--m" type="text" placeholder="Enter Highlight" id="textInput" />
            </div>
        </div>
        <div class="u-marginTop-m">
            <div class="Input-group Input-group--s">
                <span class="Input-group__addon">£</span>
                <input class="Input Input--default Input--s" type="text" placeholder="Enter Amount" id="textInput" />
            </div>
        </div>
        <div class="u-marginTop-m">
            <div class="Input-group Input-group--m">
                <span class="Input-group__addon">£</span>
                <input class="Input Input--default Input--m" type="text" placeholder="Enter Amount" id="textInput" />
                <span class="Input-group__addon">.00</span>
            </div>
        </div>
        <div class="u-marginTop-m">
            <div class="Input-group Input-group--l">
                <input class="Input Input--default Input--l" type="text" placeholder="Enter Amount" id="textInput" />
                <span class="Input-group__addon">@slack.com</span>
            </div>
        </div>
    </div>
</div><!-- /.u-container-white-border -->
