<div class="u-container-white-border u-marginBottom-s">
    <div class="u-padding-l">
        <label for="textArea">Description</label>
        <textarea class="Textarea Textarea--default Textarea--l" name="" placeholder="Start typing..." id="textArea"></textarea>
        <div class="u-marginTop-m">
            <label for="textArea">Description</label>
            <textarea class="Textarea Textarea--default Textarea--m" name="" placeholder="Start typing..." id="textArea"></textarea>
        </div>
        <div class="u-marginTop-m">
            <label for="textArea">Description</label>
            <textarea class="Textarea Textarea--default Textarea--s" name="" placeholder="Start typing..." id="textArea"></textarea>
        </div>
    </div>
</div><!-- /.u-container-white-border -->
