<div class="u-container-white-border u-marginBottom-s">
    <div class="u-padding-l">
        <div class="Search">
          <span class="Search__icon--l"><i class="material-icons">search</i></span>
          <input class="Search__input Input Input--default Input--l" type="search" placeholder="What are you looking for?" id="textInput" />
        </div>
        <div class="u-marginTop-m">
          <div class="Search">
            <span class="Search__icon--m"><i class="material-icons">search</i></span>
            <input class="Search__input Input Input--default Input--m" type="search" placeholder="What are you looking for?" id="textInput" />
          </div>
        </div>
    </div><!-- /.u-padding-l -->
</div>
