<div class="u-container-white-border u-marginBottom-s">
    <div class="u-padding-l">
				<label class="Control Control--radio">First checkbox
						<input type="radio" name="radio" checked="checked"/>
						<div class="Control__indicator"></div>
				</label>
				<label class="Control Control--radio">Second checkbox
						<input type="radio" name="radio"/>
						<div class="Control__indicator"></div>
				</label>
				<label class="Control Control--radio">Disabled
						<input type="radio" name="radio2" disabled="disabled"/>
						<div class="Control__indicator"></div>
				</label>
				<label class="Control Control--radio">Disabled &amp; checked
						<input type="radio" name="radio2" disabled="disabled" checked="checked"/>
						<div class="Control__indicator"></div>
				</label>
		</div><!--/.u-padding-l -->
</div><!--/.u-container-white-border -->
