<div class="u-container-white-border u-marginBottom-s">
    <div class="u-padding-l">
      <form action="#forms">
          <div class="u-marginBottom-xs">
              <label class="Form-label" for="">Name</label>
              <input class="Input Input--default Input--m" type="text" placeholder="Name">
          </div>
          <div class="u-marginBottom-xs">
              <label class="Form-label" for="">Email</label>
              <input class="Input Input--default Input--m" type="text" placeholder="Email">
          </div>
          <div class="u-marginBottom-xs">
            <label class="Control Control--radio">Entrepreneur
                <input type="radio" name="radio" checked="checked"/>
                <div class="Control__indicator"></div>
            </label>
            <label class="Control Control--radio">Investor
    						<input type="radio" name="radio" checked="checked"/>
    						<div class="Control__indicator"></div>
    				</label>
          </div>
          <div class="u-marginBottom-xs">
              <label class="Form-label" for="textArea">Description</label>
              <textarea class="Textarea Textarea--default Textarea--m" name="" placeholder="Start typing..." id="textArea"></textarea>
          </div>
          <div class="u-marginBottom-s">
              <label class="Control Control--checkbox">Remember me
      						<input type="checkbox"/>
      						<div class="Control__indicator"></div>
      				</label>
          </div>
          <div class="">
              <button class="Button Button--primary Button--m">Submit</button>
              <button class="Button Button-link Button--m">Cancel</button>
          </div>
      </form>


    </div><!-- /.u-padding-l -->
</div>
