<div class="u-container-white-border u-marginBottom-s">
    <div class="u-padding-l">
      <form action="#forms">
          <div class="u-marginBottom-xs">
              <label class="Form-label" for="">Name</label>
              <input class="Input Input--default Input--m has-danger" type="text" placeholder="Name">
              <p class="Input-hint--danger">Name is invalid.</p>
          </div>
          <div class="u-marginBottom-xs is-success">
              <label class="Form-label" for="">Email</label>
              <input class="Input Input--default Input--m has-success" type="text" placeholder="Email">
              <p class="Input-hint--success">Email is available.</p>
          </div>
      </form>
    </div><!-- /.u-padding-l -->
</div>
