---
notes: |
  Tags are used...
---

<div class="u-container-white-border u-marginBottom-s">
    <div class="u-padding-l">
      <div class="Tag Tag--s">
        <span>Tech</span>
        <button class=""><i class="material-icons md-18">close</i></button>
      </div>
      <div class="Tag Tag--s">
        <span>Sports &amp; leisure</span>
        <button class=""><i class="material-icons md-18">close</i></button>
      </div>
      <div class="Tag Tag--s">
        <span>Robotics</span>
        <button class=""><i class="material-icons md-18">close</i></button>
      </div>
      <div class="Tag Tag--s">
        <span>Property</span>
        <button class=""><i class="material-icons md-18">close</i></button>
      </div>
      <div class="Tag Tag--s">
        <span>Retail</span>
        <button class=""><i class="material-icons md-18">close</i></button>
      </div>
      <div class="Tag Tag--s">
        <span>Agriculture</span>
        <button class=""><i class="material-icons md-18">close</i></button>
      </div>
    </div><!-- /.u-padding-l -->
</div>
