<table class="Table Table-striped">
<thead>
    <tr>
        <th>Name</th>
        <th>Duration</th>
        <th>Genre</th>
        <th>Release Date</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>The Shawshank Redemption</td>
        <td>2h 22min</td>
        <td>Crime, Drama</td>
        <td>14 October 1994</td>
    </tr>
    <tr>
        <td>The Godfather</td>
        <td>2h 55min</td>
        <td>Crime, Drama</td>
        <td>24 March 1972</td>
    </tr>
    <tr>
        <td>Schindler's List</td>
        <td>3h 15min</td>
        <td>Biography, Drama, History</td>
        <td>4 February 1994</td>
    </tr>
    <tr>
        <td>Se7en</td>
        <td>2h 7min</td>
        <td>Crime, Drama, Mystery</td>
        <td>22 September 1995</td>
    </tr>
</tbody>
</table>
