---
notes: |
  Tooltips..
---

<!-- Tooltips -->

<div class="u-container-white-border u-marginBottom-s">
  <div class="u-padding-l">
    <div class="u-marginBottom-s">
      <button class="Button Button--primary Button--s tooltip" data-tooltip="Not interested, don't show me this again" data-tooltip-pos="top">Top tooltip</button>
    </div>
    <div class="u-marginBottom-s">
      <button class="Button Button--primary Button--s tooltip tooltip-right" data-tooltip="Lorem ipsum">Right tooltip</button>
    </div>
    <div class="u-marginBottom-s">
      <button class="Button Button--primary Button--s tooltip tooltip-bottom" data-tooltip="Lorem ipsum">Bottom tooltip</button>
    </div>
    <div class="u-marginBottom-s">
      <button class="Button Button--primary Button--s tooltip tooltip-left" data-tooltip="Lorem ipsum">Left tooltip</button>
    </div>
  </div>
</div>
<!-- /Primary Regular Button -->
