---
notes: |
  Secondary buttons contrast primary buttons. Secondary buttons should be used to signify optional, infrequent or subtle actions <code>.is-disabled</code> can be used to disable a button.
---

<!-- Secondary Round Button -->
<h4>.Button--round</h4>

<div class="u-container-white-border u-marginBottom-l">
  <div class="u-padding-l">
    <div class="u-marginBottom-s">
      <button class="Button Button--secondary Button--round Button--l">Not right now</button>
    </div>
    <div>
      <button class="Button Button--round Button--l is-disabled">Not right now</button>
    </div>
  </div>
</div>
<!-- /Secondary Round Button -->
