---
notes: |
  UI buttons are used for the main actions which we want our users to take. Use them sparingly, to draw attention to the most important actions. A primary buttons should not be used alongside another primary button. Use the `Button` class followed by `Button--primary`.  To disable a button use `.is-disabled`.
---

<!-- Primary Regular Button -->
<h4>Button Sizes</h4>

<p>Define a regular primary button with either of the following size modifiers <code>.Button--s</code>, <code>.Button--m</code>, <code>.Button--l</code>. The <code>.with-100</code> modifier can be used when a button needs to span the full width of it's container. An example of this would be in a modal.</p>

<div class="u-container-white-border u-marginBottom-l">
  <div class="u-padding-l">
    <div class="u-marginBottom-s">
      <button class="Button Button--positive Button--m">Add</button>
    </div>
    <div class="u-marginBottom-s">
      <button class="Button Button--negative Button--m">Delete</button>
    </div>
    <div class="u-marginBottom-s">
      <button class="Button Button--positive Button--s">Add Booster</button>
    </div>
    <div class="u-marginBottom-s">
      <button class="Button Button--negative Button--s">Delete</button>
    </div>
    <div>
    <div>
      <button class="Button Button--negative Button--s is-disabled">Delete</button>
    </div>
  </div>
</div>
<!-- /Primary Regular Button -->
