---
notes: |
  Primary buttons are used for main Call to Actions (CTAs) which we want the user to take. Define a button size with `.Button--s`, `.Button--m`, `.Button--l`. `.is-disabled` can be used to disable a button.
---

<div class="u-marginBottom-s u-marginTop-s">
  <button class="Button Button--primary Button--l">Submit</button>
</div>
<div class="u-marginBottom-s">
  <button class="Button Button--primary Button--m">Submit</button>
</div>
<div class="u-marginBottom-s">
  <button class="Button Button--primary Button--s">Submit</button>
</div>
<div class="u-marginBottom-s">
  <button class="Button Button--primary Button--s is-disabled">Submit</button>
</div>
