---
notes: |
  These are notes associated with this `button` component.
---

<div class="u-marginBottom-s u-marginTop-s">
  <button class="Button Button--secondary Button--l">Submit</button>
</div>
<div class="u-marginBottom-s">
  <button class="Button Button--secondary Button--m">Submit</button>
</div>
<div class="u-marginBottom-s">
  <button class="Button Button--secondary Button--s">Submit</button>
</div>
<div class="u-marginBottom-s">
  <button class="Button Button--s is-disabled">Submit</button>
</div>
