---
notes: |
  Alerts can be used when you need to give more information to the user based on their action or before they take an action. Use `.Alert` followed by the specific alert modifier. You can use `Alert--info`, `Alert--warning`, `Alert--error`, or `Alert--success`. If you need to show an alert on a themed background then use the `Alert--ghost` modifier.
---

<div class="u-container-white-border u-marginBottom-s">
    <div class="u-padding-l">
        <div class="">
            <div class="Alert Alert--info">This is <a class="u-link-natural" href="#">an info alert</a>. Use it for displaying information.</div>
        </div>
        <div class="u-marginTop-m">
            <div class="Alert Alert--warning">This is <a class="u-link-natural" href="#">a warning alert</a>. Use it to warn the user of an action.</div>
        </div>
        <div class="u-marginTop-m">
            <div class="Alert Alert--danger">This is <a class="u-link-natural" href="#">an error alert</a>. Use it to indicate an error made by the user.</div>
        </div>
        <div class="u-marginTop-m">
            <div class="Alert Alert--success">This is <a class="u-link-natural" href="#">a success alert</a>. Use it to indicate a successful action taken by the user.</div>
        </div>
    </div><!--/.u-padding-l -->
</div><!--/.u-container-white-border -->
