.u-marginTop-s {
  margin-top: $spacing-unit-small;
}

.u-marginTop-m {
  margin-top: $spacing-unit-default;
}

.u-marginTop-l {
  margin-top: $spacing-unit-big;
}

.u-marginBottom-s {
  margin-bottom: $spacing-unit-small;
}

.u-marginBottom-m {
  margin-bottom: $spacing-unit-default;
}

.u-marginBottom-l {
  margin-bottom: $spacing-unit-big;
}
