.u-container-white-border {
  border: solid 1px $color-grey-cooler;
  border-radius: $radius-default;
}

.u-container-dark-border {
  background: $color-dark;
  border-radius: $radius-default;
}

.u-padding-l {
  padding: $spacing-unit-big;
}
