$font-size-default: 16px;

$radius-default: 4px;


$spacing-unit-small: $line-height-tight;
$spacing-unit-default: $line-height-default;
$spacing-unit-big: $line-height-loose;

// Z-Index Scale

$zIndex-1:   100;
$zIndex-2:   200;
$zIndex-3:   300;
$zIndex-4:   400;
$zIndex-5:   500;
$zIndex-6:   600;
$zIndex-7:   700;
$zIndex-8:   800;
$zIndex-9:   900;
$zIndex-10: 1000;
