/**
 * Brand Colors
 */

// Primary
$color-ain: #4A8CFF; // rgb(74, 140, 255)
$color-ain-highlight: lighten($color-ain, 10%);
$color-ain-shadow:     darken($color-ain, 15%);

// Secondary
$color-ain-dark: #2D72EB; // rgb(45, 114, 235)
$color-ain-bright: #403FFF; // rgb(64, 63, 255)

// Tertairy
$color-global: #556BCC; // rgb(85, 107, 204)
$color-executive: #31708F; // rgb(49, 112, 143)
$color-pro: #55A0CC; // rgb(85, 160, 240)
$color-novice: #55C6CC; // rgb(85, 198, 204)


/**
 * Greyscale
 */

$color-darker: #1B202F; // rgb(27, 32, 47)
$color-black: $color-darker; // rgb(27, 32, 47)
$color-dark: #253142; // rgb(37, 49, 66)
$color-dark-mid: #4F5766; // rgb(79, 87, 102)
$color-dark-light: #636F7B; // rgb(99, 111, 123)
$color-grey-warm: #979CA6; // rgb(151, 156, 166)
$color-grey-cool: #B4C3D3; // rgb(180, 195, 211)
$color-grey-cooler: #D8E2EC; // rgb(216, 226, 236)
$color-grey: #CDD3D9; // rgb(205, 211, 217)
$color-grey-light: #DFE9F2; // rgb(223, 233, 242)
$color-grey-lighter: #F2F6F9; // rgb(242, 246, 249)
$color-grey-lightest: #F6F9FB; // rgb(246, 249, 251)
$color-white: #fff; // rgb(255, 255, 255)


/**
 * UI Colors
 */

$color-info: #008CFF; // rgb(0, 140, 255)
$color-positive: #13CE66; // rgb(53, 203, 125)
$color-negative: #FF4949; // rgb(249, 67, 67)
$color-warning: #FFC82C; // rgb(255, 200, 44)


// Text
$color-text:        $color-dark-mid;

// Links
$color-link:        $color-ain;
$color-link-hover:  $color-ain-shadow;

// Buttons
$color-btn:         $color-ain;
$color-btn-hover:   $color-ain-shadow;
