---
notes: |
  Primary buttons are used for the main actions which we want our users to take. Use them sparingly, to draw attention to the most important actions. A primary buttons should not be used alongside another primary button. If a particular pattern requires more than one button then a secondary button should be used with the primary button.  <code>.is-disabled</code> can be used to disable a button.
---

<!-- Floating Action Button -->
<h4>.Button--floating</h4>

<div class="u-container-white-border u-marginBottom-s">
  <div class="u-padding-l">
    <div class="u-marginBottom-s">
      <button class="Button Button--primary Button--floating"><i class="material-icons">share</i></button>
    </div>
    <div>
      <button class="Button Button--primary Button--floating"><i class="material-icons">add</i></button>
    </div>
  </div>
</div>
<!-- /Floating Action Button -->
