---
notes: |
  Secondary buttons contrast primary buttons. Secondary buttons should be used to signify optional, infrequent or subtle actions <code>.is-disabled</code> can be used to disable a button.
---

<!-- Secondary Regular Button -->
<h4>Button Sizes</h4>

<p>Define a regular secondary button with either of the following size modifiers <code>.Button--s</code>, <code>.Button--m</code>, <code>.Button--l</code>.</p>

<div class="u-container-white-border u-marginBottom-l">
  <div class="u-padding-l">
    <div class="u-marginBottom-s">
      <button class="Button Button--secondary Button--l">Submit</button>
    </div>
    <div class="u-marginBottom-s">
      <button class="Button Button--secondary Button--m">Preview Proposal</button>
    </div>
    <div class="u-marginBottom-s">
      <button class="Button Button--secondary Button--s">Clear Search</button>
    </div>
    <div>
      <button class="Button Button--s is-disabled">Clear Search</button>
    </div>
  </div>
</div>
<!-- /Secondary Regular Button -->
