---
notes: |
  Icon buttons contrast primary buttons. Secondary buttons should be used to signify optional, infrequent or subtle actions <code>.is-disabled</code> can be used to disable a button.
---

<!-- Icon Button -->
<h4>.Button--icon</h4>

<div class="u-container-white-border u-marginBottom-s">
  <div class="u-padding-l">
    <div class="u-marginBottom-l">
          <button class="Icon Icon--s Button Button--secondary"><i class="material-icons md-14">thumb_up</i></button>
          <button class="Icon Icon--s Button Button--secondary Button--icon"><i class="material-icons md-14">thumb_down</i></button>
          <button class="Icon Icon--s Button Button--secondary Button--icon"><i class="material-icons md-14">mail</i></button>
          <button class="Icon Icon--s Button Button--secondary Button--icon"><i class="material-icons md-14">archive</i></button>
          <button class="Icon Icon--s Button Button--secondary Button--icon"><i class="material-icons md-14">star</i></button>
    </div>

    <div class="u-marginBottom-l u-marginTop-s">
          <button class="Icon Icon--m Button Button--secondary"><i class="material-icons md-18">more_horiz</i></button>
          <button class="Icon Icon--m Button Button--secondary Button--icon"><i class="material-icons md-18">star</i></button>
          <button class="Icon Icon--m Button Button--secondary Button--icon"><i class="material-icons md-18">mail</i></button>
    </div>

    <div>
          <button class="Icon Icon--l Button Button--secondary"><i class="material-icons md-24">star</i></button>
    </div>
  </div>
</div>
<!-- /Icon Button -->
