---
notes: |
  Ghost buttons are used on dark backgrounds or reversed themes. Use the `Button--ghost` modifier followed by the required size modifier.
---

<!-- Ghost Regular Button -->
<h4>Button Sizes</h4>

<p>Define a regular secondary button with either of the following size modifiers <code>.Button--s</code>, <code>.Button--m</code>, <code>.Button--l</code>.</p>

<div class="u-container-dark-border u-marginBottom-s">
  <div class="u-padding-l">
    <div class="u-marginBottom-s">
      <button class="Button Button--ghost Button--l">Submit</button>
    </div>
    <div class="u-marginBottom-s">
      <button class="Button Button--ghost Button--m">Log In</button>
    </div>
    <div>
      <button class="Button Button--ghost Button--s">Clear Search</button>
    </div>
  </div>
</div>
<!-- /Ghost Regular Button -->
