---
notes: |
  Ghost buttons are used on dark backgrounds or reversed themes. Use the `Button--ghost` modifier followed by the required size modifier.
---

<!-- Ghost Icons with text Button -->
<h4>Button Sizes</h4>

<p>Define a regular secondary button with either of the following size modifiers <code>.Button--m</code>, <code>.Button--l</code>.</p>

<div class="u-container-dark-border u-marginBottom-s">
  <div class="u-padding-l">
    <div class="u-marginBottom-s">
      <div class="o-flex">
        <div class="o-flex--2 u-marginTop-s">
          <button class="Button Button--ghost Button--l width-100">
            <i class="material-icons md-14 u-pr-10">thumb_up</i>
            <span>Like it</span>
          </button>
        </div>
        <div class="o-flex--2 u-marginTop-s">
          <button class="Button Button--ghost Button--l width-100">
            <i class="material-icons md-14 u-pr-10">thumb_down</i>
            <span>No Thanks</span>
          </button>
        </div>
      </div>
    </div>
    <div class="u-marginBottom-s">
      <button class="Button Button--ghost Button--m">
        <i class="material-icons md-18 u-pr-10">file_download</i>
        <span>Download PDF</span>
      </button>
    </div>
  </div>
</div>
<!-- /Ghost Icons with text Button -->
