---
notes: |
  Primary links are used when you need to put another button inline next to a primary button. An example would be when you need a cancel link next to a primary submit button on a form.
---

<p>Use `Button` followed by `Button-link`, followed by one of the size modifiers below.</p>

<div class="u-container-white-border u-marginBottom-l">
    <div class="u-padding-l">
        <button class="Button Button--primary Button--s">Submit</button>
        <button class="Button Button-link Button--s">Cancel</button>
    </div>
</div>
<!-- /Primary Regular Button -->

<!-- Primary Regular Button -->
<h4>Button Sizes</h4>

<p>Define a regular primary link with either of the following size modifiers <code>.Button--s</code>, <code>.Button--m</code>, <code>.Button--l</code>.

<div class="u-container-white-border u-marginBottom-s">
    <div class="u-padding-l">
        <div class="">
            <button class="Button Button-link Button--l">Cancel</button>
        </div>
        <div class="u-marginBottom-s">
            <button class="Button Button-link Button--m">Cancel</button>
        </div>
        <div class="u-marginBottom-s">
            <button class="Button Button-link Button--s">Cancel</button>
        </div>
    </div>
</div>
<!-- /Primary Regular Button -->
